# User-space compiled binaries
engine
cpu_hog
io_pulse
memory_hog
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse

# Kernel module build artifacts
*.ko
*.o
*.d
*.mod
*.mod.o
*.mod.c
*.symvers
*.order
modules.order
Module.symvers
.*.cmd
.tmp_versions/

# Runtime artifacts and logs
*.log
logs/
test_results/
/tmp/mini_runtime.sock
solved

# Root filesystems & downloaded archives
rootfs-base/
rootfs-*/
boilerplate/rootfs-*/
*.tar.gz

# Editor / OS junk
*.swp
*~
.vscode/
.DS_Store
